.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
}

.tree-view-node {
  color: #666666;
}

.tree-item {
  padding: 0.25em 0 0.25em 0;
}

.tree-item-selected {
  background-color: #4285f4;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 0;
  padding: 0;
}

li.tree-view-node > span {
  margin-right: 0.3em;
}

a.modal-link:link,
a.modal-link:visited {
  text-decoration: none;
  color: #4285f4;
  font-size: 0.85em;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button {
  background-color: #4285f4;
  color: white;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 2px;
  border: none;
  width: 4.5em;
  height: 2.25em;
  font-size: 0.85em;
  cursor: pointer;
}

.file-dropper-wrapper {
  width: 50%;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* ICONs */
.public-folder-icon,
.private-folder-icon,
.file-icon,
.black-plus-icon,
.white-plus-icon,
.black-minus-icon,
.white-minus-icon,
.close-icon {
  background-image: url("./icon-sprite.png");
  background-repeat: no-repeat;
  position: relative;
  top: 2px; /*to align vertically*/
  display: inline-block;
  overflow: hidden;
}

.public-folder-icon {
  background-position: 0 0;
  width: 14px;
  height: 14px;
}

.private-folder-icon {
  background-position: -14px 0;
  width: 14px;
  height: 14px;
}

.file-icon {
  background-position: -29px 0;
  width: 12px;
  height: 14px;
}

.black-plus-icon {
  background-position: -58px -2px;
  width: 9px;
  height: 9px;
  opacity: 0.5;
}

.white-plus-icon {
  background-position: -86px -2px;
  width: 9px;
  height: 9px;
}

.black-minus-icon {
  background-position: -72px -2px;
  width: 9px;
  height: 9px;
  opacity: 0.5;
}

.white-minus-icon {
  background-position: -100px -2px;
  width: 9px;
  height: 9px;
}

.close-icon {
  background-position: -43px -1px;
  width: 12px;
  height: 12px;
}
